<!DOCTYPE html>
<!-- saved from url=(0020)http://eleks.com/404 -->
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Eleks - 404</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Marking project Eleks">
<meta name="author" content="Banakh Nazariy">
<link rel="stylesheet" href="/css/styles.css">
<!--[if lte IE 9]>
    <link href='http://media.eleks.com/media/Content/style/404ie.css' rel="stylesheet">
    <![endif]-->

<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="images/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="images/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-57-precomposed.png">
</head>
<body>
<div class="error_box_wrap">
  <div class="robot-wrap">
    <div class="robot-head">
      <div class="robot-head-with-gradient"></div>
      <div class="left-eye"></div>
      <div class="right-eye"></div>
      <div class="robot-mouth"></div>
    </div>
    <div class="robot-body-wrap">
      <div class="body-right-wire"></div>
      <div class="robot-body"></div>
      <div class="left-hand">
        <div class="left-top-hand-brokenness"></div>
        <div class="left-top-hand"></div>
        <div class="left-bottom-hand"></div>
      </div>
      <div class="right-hand">
        <div class="right-hand-wire"></div>
        <div class="right-top-hand"></div>
        <div class="right-bottom-hand"></div>
      </div>
      <div class="left-top-hand"></div>
    </div>
    <div class="right-hand-shadow"></div>
    <div class="robot-body-bottom-brokenness"></div>
    <div class="robot-body-bottom"></div>
  </div>
  <div class="error_box"><!-- <a class="logo" href=""> <img alt="Eleks" src="images/eleks_logo_adm.png"> </a>-->
    <p class="error-number">404</p>
    <p class="error-text">… Oops! Something is missing</p>
    <p class="go-home"> <a href="#">Home</a> </p>
  </div>
</div>
</body>
</html>