<%- include('layouts/navbar.ejs') %> 
</div>
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-6"><h3>Monggoh di pilih :</h3></div>
        <div class="col-6">
          <div class="float-end">
        <a  type="button" id="data1" href="/data1" class="btn btn-outline-primary">
               Data 1
           </a><a  type="button" id="data2" href="/data2" class="btn btn-outline-secondary">
               Data 2
            
           </a><a  type="button" id="data3" href="/data3" class="btn btn-outline-danger">
               Data 3
            
           </a><a type="button" id="data4" href="/data4" class="btn btn-outline-warning">
               Data 4
            
           </a><a type="button" id="data5" href="/data5" class="btn btn-outline-dark">
               Data 5
              </a> 
          </div>
        </div>
        <div class="col-12">
          <table class="table table-dark table-striped mt-3" id="table">
            <thead>
              <tr>
                <th scope="col">Index</th>
                  <th scope="col">Name</th>
                  <th scope="col">Eye Color</th>
                  <th scope="col">Age</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Company</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Favourite Fruits</th>
              </tr>
               </tr>
      </thead>
      <tbody>
        <% if (Output.message === 'data tidak ada / tidak ditemukan') { %>
          <tr>
            <td colspan="9">
              <h3 class="text-center text-danger my-5">Maaf, Anda Siapa ? 😀</h3>
            </td>
          </tr>
        <%} else { %>
          <% i = 1 %> 
          <% Output.forEach(data => { %>
            <tr>
              <td class="text-center"><%= i++ %> </td>
               <td><%= data.name %></td>
                    <td><%= data.eyeColor %></td>     
                    <td><%= data.age %></td>
                    <td><%= data.gender %></td>
                    <td><%= data.company %></td>   
                    <td><%= data.email %></td>
                    <td><%= data.phone %></td>  
                    <td><%= data.favoriteFruit %></td>
            </tr>
          <% }) %>
        <% } %>
      </tbody>
    </table>
    <div class="mt-5">
      <h6>Filter Data berdasarkan:</h6>
      <p><%= note %></p>
    </div>
  </div>
 <%- include('layouts/footer.ejs') %> 